@using Library.Models;
@{
    Layout = null;
    string title = ViewBag.Title;
    string caption = ViewBag.Caption;
    IEnumerable<BookModel> books = ViewBag.Books;

    Dictionary<string, string> lang = new Dictionary<string, string>
    {
        {"Id", "ID" },
        {"Name", "Название" },
        {"Publisher", "Дата рождения" },
        {"Authors", "Авторы" },
        {"PublishDate", "Дата публикации" },
        {"PageCount", "Страницы" },
        {"ISBN", "ISBN" }
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link href="~/Content/Common/css/reset.css" rel="stylesheet" />
    <link href="~/Content/Common/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="conteiner">
        <header class="header">
            <div class="central-part central-part--column central-part--justify-center">
                <div class="header-menu">
                    @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "header-menu__item" })
                    @Html.ActionLink("Издатели", "Index", "Publisher", null, new { @class = "header-menu__item" })
                    @Html.ActionLink("Авторы", "Index", "Author", null, new { @class = "header-menu__item" })
                    @Html.ActionLink("Книги", "Index", "Book", null, new { @class = "header-menu__item" })
                </div>
            </div>
        </header>
        <main class="main main--justify-start main--padding-top-2">
            <div class="central-part central-part--justify-center">
                @* Использования хелпера *@
                @CreateTable.HtmlBooksTable(books, lang, caption)
            </div>
        </main>
        <footer class="footer"></footer>
    </div>
</body>
</html>
