
@{
    Layout = null;
    string title = ViewBag.Title;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link href="~/Content/Common/css/reset.css" rel="stylesheet" />
    <link href="~/Content/Common/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="conteiner">
        <header class="header">
            <div class="central-part central-part--column central-part--justify-center">
                <div class="header-menu">
                    @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "header-menu__item" })
                    @Html.ActionLink("Издатели", "Index", "Publisher", null, new { @class = "header-menu__item" })
                    @Html.ActionLink("Авторы", "Index", "Author", null, new { @class = "header-menu__item" })
                    @Html.ActionLink("Книги", "Index", "Book", null, new { @class = "header-menu__item" })
                </div>
            </div>
        </header>
        <main class="main">
            <h1 class="main-text">Welcome to Library<br>scientia potentia est</h1>
        </main>
        <footer class="footer"></footer>
    </div>
</body>
</html>
